.middle-header {
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: #fff;
}
.top-20{
    top: 20px;
}
.widget-links ul li {
    display: inline-block;
    width: 100%;
    margin-bottom: 15px;
}



.ow-navigation .container > a {
    background-color: #fe0000;
   
    box-shadow: inset 0 3px 0px #fe0000;
    
}
.w-100{
    width: 100%;
}
.widget-title1{
    margin-top: 0px;
}
.contact-widget .widget-about li, .contact-widget .widget-about  h3{
    display: inline-block;
    width: 100%;
    position: relative;
    line-height: 19px;
    padding-left: 55px;
    color: black;
    margin-bottom: 40px;
    font-weight: bold;
}